# Exclude dari build context untuk frontend
node_modules
dist
dist-ssr
**/.vs
**/.vscode
**/.idea
**/.git
**/.gitignore
**/Dockerfile
**/.dockerignore
**/README.md
**/CHANGELOG.md
**/*.log
**/.env
**/.env.*